@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --hover-background: #f1f1f1;
  --button-hover-background: #d9d9d9;
  --upload-button-background: #e6e6e6;
  --confirmation-background: rgb(0, 0, 0, 0.6);

  --failed: #dc2626;
  --failed-hover: #c52020;
  --warning: #f59e0b;
  --success: #22c55e;
  --processing: #6da2f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

@layer components {
  .file-list-row-btn {
    @apply flex size-8 items-center justify-center rounded-full hover:bg-button-hover;
  }
}

@layer utilities {
  .text-lighten {
    @apply text-transparent/60;
  }

  .cancel-btn {
    @apply border border-zinc-300 hover:border-zinc-400;
  }
}
